<div class="user-edit">
  <div class="user-edit-form">
    <%= form_tag "/users/#{@user.id}", method: :put do %>

      <div><%= label_tag('user[name]', "Name:") %><br/>
      <%= text_field_tag('user[name]') %></div>

      <div><%= label_tag('user[image_url]', "Image URL:") %><br/>
      <%= text_field_tag('user[image_url]') %></div>

      <div><%= submit_tag("Submit") %></div>

    <% end %>

  </div>
</div>