<h1>New Page</h1>

<%= form_tag "/pages", method: :post do %>

  <%= label_tag('page[title]', 'Title:') %>
  <%= text_field_tag('page[title]') %>

  <%= label_tag('page[summary]', 'Summary:') %>
  <%= text_area_tag('page[summary]') %>

  <%= label_tag('page[theme]', 'Theme:') %>
  <%= text_field_tag('page[theme]') %>

  <%= submit_tag("Submit") %>

<% end %>