<h1><%= @page.title %></h1>

<p><%= @page.summary %></p>

<%= @page.theme %><br/>

<p><%= link_to "Edit Page", "/pages/#{@page.id}/edit" %></p>

<p><%= link_to "New Post", "/pages/#{@page.id}/posts/new" %></p>

<% @posts.each do |post| %>
  <%= post.content %><br/>
  <%= link_to "Show Post", "/posts/#{post.id}" %><br/>
  <%= link_to "Edit Post", "/posts/#{post.id}/edit" %><br/>

  <div id="post-comments">
    <% @comments_on_posts = Comment.where("commentable_id = #{post.id} AND commentable_type = 'post'") %>
    <% for post_comment in @comments_on_posts %>
      <% @comment = post_comment %>
      <%= render 'comments/comment' %>
      <%= render 'comments/form' %>
    <% end %>
  </div>

<% end %>
















