<div class="cf edit-header">
  <h1 class="edit-header">Edit Post</h1>
  <div class="delete-post pull-right">
    <%= form_tag "/posts/#{@post.id}", method: :delete do %>
      <%= submit_tag("Delete Post") %>
    <% end %>
  </div>
</div>

<div class="edit-post-form">
  <%= form_tag "/posts/#{@post.id}", method: :put do %>

    <div class="edit-post-title">
      <%= label_tag('post[title]', 'Title:') %><br/>
      <%= text_field_tag('post[title]', "#{@post.title}") %>
    </div>

    <div class="edit-textbox edit-post-content">
      <%= label_tag('post[content]', "Content:") %><br/>
      <%= text_area_tag('post[content]', "#{@post.content}", :class => "edit-textbox") %>
    </div>

    <div class="submit-button edit-post-submit">
      <%= submit_tag("Submit Post") %>
    </div>

  <% end %>
</div>

<div class="delete-post">
  <%= form_tag "/posts/#{@post.id}", method: :delete do %>
    <%= submit_tag("Delete Post") %>
  <% end %>
</div>