<h1>New Post</h1>

<%= form_tag '/pages/:page_id/posts', method: 'POST' do %>

  <%= label_tag('post[title]', 'Title:') %>
  <%= text_field_tag('post[title]') %>

  <%= label_tag('post[content]', 'Content:') %>
  <%= text_field_tag('post[content]') %>

<% end %>