<!DOCTYPE html>
<html>
  <head>

    <title>By The Blog Of Cats</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <% if current_user %>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">By the Blog of Cats</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a><%= current_user.name %></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                    <li class="divider"></li>
                    <li>My Pages</li>
                    <li>All Pages</li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Post 1</a></li>
                    <li><a href="#">Post 2</a></li>
                    <li><a href="#">Post 3</a></li>
                    <li class="divider"></li>
                    <li>All Posts</li>
                  </ul>
                </li>
                <li><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            </ul>
          <% end %>
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
